.form {
    width: 700px;
    background:
        radial-gradient(circle farthest-side at 0% 50%, #11cfff 23.5%, rgba(240, 166, 17, 0) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%, #bb1166 24%, rgba(240, 166, 17, 0) 0)19px 30px,
        linear-gradient(#11cfff 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #11cfff 0)0 0,
        linear-gradient(150deg, #11cfff 24%, #bb1166 0, #bb1166 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #bb1166 0, #bb1166 76%, #11cfff 0)0 0,
        linear-gradient(30deg, #11cfff 24%, #bb1166 0, #bb1166 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #bb1166 0, #bb1166 76%, #11cfff 0)0 0,
        linear-gradient(90deg, #bb1166 2%, #11cfff 0, #11cfff 98%, #bb1166 0%)0 0 #11cfff;
    background-size: 40px 60px;
}